<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "https://s-media-cache-ak0.pinimg.com/564x/d3/c8/99/d3c8998e91b3db07199727e8df024ce4.jpg" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <div>
      <%= link_to dashboard_host_path do %>
        <div class="navbar-about">
          <span class="navbar-about">Host</span>
        </div>
      <% end %>
    </div>

    <div>
      <%= link_to dashboard_guest_path do %>
        <div class="navbar-about">
          <span class="navbar-about">Guest</span>
        </div>
      <% end %>
    </div>

    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>

      <!-- Notification -->


      <!-- Profile picture and dropdown -->

    <div>
      <%= link_to destroy_user_session_path, method: "delete" do %>
        <div class="navbar-about">
          <span class="navbar-about">Sign out</span>
        </div>
      <% end %>
    </div>





    <% else %>

      <!-- Login text link -->
      <%= link_to "Login", new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>

    <% end %>

    <!-- Button (call-to-action) -->
    <%= link_to "A BUTTON", "#", class: "navbar-wagon-item navbar-wagon-button btn" %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>


<!-- ********************* -->


