<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path do %>
    <div>
        <span class="navbar-wagon-brand text-center">aibee</span>
    </div>
  <% end %>
  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <div>
      <%= link_to dashboard_host_path do %>
        <div class="navbar-about">
          <span class="text-center">HOST</span>
        </div>
      <% end %>
    </div>
    <div>
      <%= link_to dashboard_guest_path do %>
        <div class="navbar-about">
          <span class="text-center">GUEST</span>
        </div>
      <% end %>
    </div>
    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>
      <!-- Notification -->
      <!-- Profile picture and dropdown -->
    <div>
      <%= link_to destroy_user_session_path, method: "delete" do %>
        <div class="navbar-about">
          <span class="text-center">SIGN OUT</span>
        </div>
      <% end %>
    </div>
    <% else %>
    <div>
      <%= link_to new_user_session_path do %>
      <div class="navbar-about">
        <span class="text-center">LOGIN</span>
      </div>
      <% end %>
    </div>
    <% end %>
    <!-- Button (call-to-action) -->
    <div>
      <%= link_to profile_path do %>
      <div class="navbar-about">
        <span class="text-center">PROFILE</span>
      </div>
      <% end %>
    </div>
  </div>
  <!-- Dropdown list appearing on mobile only -->

    <i class="fa fa-bars sandwich-menu"></i>

      <ul style="list-style-type: none; color: black" class="navbar-menu-links hidden">
        <a href="<%= new_user_session_path %>"><li>Login</li></a>
        <li><a href="<%= dashboard_host_path %>">Host</a></li>
        <li><a href="<%= dashboard_guest_path %>">Guest</a></li>
        <li><a href="<%= profile_path %>">Profile</a></li>
      </ul>


</div>

<script>

  $(".sandwich-menu").click(function() {
    $(".navbar-menu-links").toggleClass("hidden")
  })
</script>

