<table data-toggle="table">
    <thead>
    <tr>
        <th>Picture</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Gender</th>
        <th>Birtdate</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>

      <% @bookings.each do |booking| %>

    <tr id="tr-id-1" class="tr-class-1">
        <td>
         <%= link_to "", user_path(booking.user), class: "event-show-profile-card-link" %>
        <% if booking.user.photo %>
            <%= cl_image_tag(booking.user.photo.path, height: 100, width: 100, class: "event-show-profile-card-avatar") %>
          <% elsif booking.user.facebook_picture_url %>
          <img src="<%= booking.user.facebook_picture_url %>", class="event-show-profile-card-avatar">
          <% end %>
        </td>
        <td>
         <%= booking.user.first_name %> 
        </td>

        <td><%= booking.user.last_name %> </td>
        <td><%= booking.user.gender %></td>
        <td><%= booking.user.birthdate %></td>
        <td><%= booking.status %></td>

    </tr>
      <% end %>

    </tbody>
</table>