<h1>Events#edit</h1>
<p>Find me in app/views/events/edit.html.erb</p>


<div class="container">
  <div class="edit-event-form form-group">
   <div class="well form-horizontal" style="max-width: 800px">

        <%= simple_form_for([@hobby, @event]) do |f| %>
            <%= f.input :price, placeholder: "Price", class: "form-control", label: false %>
            <%= f.input :start_time, placeholder: 'Start time', class: "form-control"%>
            <%= f.input :end_time, placeholder: 'End time', class: "form-control"%>
            <%= f.input :min_pax, placeholder: 'Min pax', class: "form-control" %>
            <%= f.input :max_pax, placeholder: 'Max pax', class: "form-control" %>

          <%= f.submit class: "btn btn-primary" %>
        <% end %>

   </div>
  </div>
</div>
