  <!-- carousel -->
  <div class="container">
    <div class="text-center" style="margin-top: 50px; margin-bottom: 50px">
      <div class="owl-carousel owl-theme">
        <% @hobby.photos.each do |photo| %>
          <div class="image-carousel owl-lazy-iamge">
            <img class="owl-img-c" src="<%= cl_image_path(photo.path, width: 400, height: 300, crop: :fill) %>" >
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <!-- end of carousel -->
  <!-- Like functionality with heart icon -->
  <div class="likes">
    <h1 class="text-center"><span class="hobby-show-title"><%= @hobby.title%></span>
      <% if @current_user && @current_user.voted_for?(@hobby) %>
      <%= link_to image_tag('dislike', {class: "hobby-show-img-like"}), hobby_like_path(@hobby), method: "patch" %> <span style="font-size: 30px;"><%= @hobby.get_likes.size %></span>
      <% else %>
      <%= link_to image_tag('like', {class: "hobby-show-img-like"}), hobby_like_path(@hobby), method: "patch" %> <span style="font-size: 30px;"><%= @hobby.get_likes.size %></span>
      <% end %>
    </h1>
  </div>
  <!-- End of like functionality  -->

  <!-- card event no title -->
  <div class="wrapper event-card-index">
    <div class="container">
    <div class="row row-centered">
    <% @events.each do |event| %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-centered ">
      <div class="events-show-new-booking-card">
        <div class="events-show-future-booking-card-date">
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <p class="date"> <strong><%= event.start_time.strftime("%b %d") %></strong>
            <span>
            <%= event.start_time.strftime("%H:%M") %> -
            <%= event.end_time.strftime("%H:%M")  %></span> </p>
        </div>
        <div class="events-show-future-booking-card-price">
          <i class="fa fa-jpy" aria-hidden="true"></i>
          <p><%= event.price %>RMB</p>
        </div>
        <div class="events-sep"></div>
        <div class="events-join text-center">
          <p> <%= simple_form_for([@hobby, event, @booking]) do |f| %>
            <i class="fa fa-users" aria-hidden="true"></i>
            <%= f.input :pax, collection: 1..5, class: "booking_pax", selected: 1, label: false %>
            <%= f.submit "Book", class: "join-btn btn" %>
          </p>
          <% end %>
        </div>
        <div class="events-show-future-booking-card-icons">
          <a href="<%= hobby_event_path(event.hobby, event) %>"><i class="fa fa-info events-show-future-booking-card-icon" aria-hidden="true"> <span> Details </span></i></a>
        </div>
      </div>
      </div>
    <% end %>
    </div>
    </div>
  </div>
</div>

