
<%= image_tag "new-event-form-img" %>
<div class="new-event-form text-center">
  <%= simple_form_for([@hobby, @event]) do |f| %>
    <%= f.input :price, placeholder: "Price", class: "form-control", label: false %>
    <%= f.input :min_pax, placeholder: 'Min pax', class: "form-control", label: false %>
    <%= f.input :max_pax, placeholder: 'Max pax', class: "form-control", label: false %>
    <%= f.input :start_time, as: :datetime, placeholder: "Start Time", label_html: { class: "new-event-form-title" } %>
    <%= f.input :end_time, as: :datetime, placeholder: 'End Time', label_html: { class: "new-event-form-title" } %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>







