
<body class="event-show">


<h1><%= @hobby.title %></h1>


<h2><%= @event.price %></h2>
<h3><%= @event.start_time %></h3>
<p><%= @event.end_time %></p>
<p><%= @event.min_pax %></p>
<p><%= @event.max_pax %></p>

<% @bookings.each do |booking| %>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2))">
      <div class="card-description">
        <p><%= booking.pax %></p>

      </div>
        <!-- link -->
    </div>
  </div>
<% end %>

</body>
