
<body class="event-show">


<h1><%= @hobby.title %></h1>


<h2><%= @event.price %></h2>
<h3><%= @event.start_time %></h3>
<p><%= @event.end_time %></p>
<p><%= @event.min_pax %></p>
<p><%= @event.max_pax %></p>

</body>
