<h1 class="text-center" style="color: #2f4a71">Host Dashboard</h1>

<div class="padded">
  <main class="host-dashboard">

    <input class="no-display" id="tab1" type="radio" name="tabs" checked>
    <label for="tab1">Hobbies</label>

    <input class="no-display" id="tab2" type="radio" name="tabs">
    <label for="tab2">Future events</label>

    <input class="no-display" id="tab3" type="radio" name="tabs">
    <label for="tab3">Past events</label>

    <input class="no-display" id="tab4" type="radio" name="tabs">
    <label for="tab4">Requests</label>



    <section id="content1">
      <!-- notification is actually a booking  -->
      <% @hobbies.each do |hobby| %>
        <div class="hobby-card col-xs-12 col-sm-6 col-md-6">
          <div class="hobby-card-rating">
            <span class="hobby-card-rating-score"><%= hobby.average_score %></span>
            <div class="hobby-card-stars">
              <% count = hobby.average_score %>
              <% 5.times do %>
                <% if count < 1 && count > 0 %>
                  <span> <%= image_tag('star-half', { class: "hobby-card-star" }) %> </span>
                <% elsif count >= 1 %>
                  <span> <%= image_tag('star-full', { class: "hobby-card-star" }) %> </span>
                <% elsif count <= 0 %>
                  <span> <%= image_tag('star-empty', { class: "hobby-card-star" }) %> </span>
                <% end %>
              <% count = count - 1 %>
            <% end %>
            <span class="hobby-card-stars-count">(<%= hobby.review_count %> reviews)</span>
          </div>
        </div>
        <% if hobby.photos.first %>
          <img src="<%= cl_image_path hobby.photos.first.path, height: 180, width: 350, crop: :fill%>", class='hobby-card-img' >
        <% else %>
          <img src="https://s-media-cache-ak0.pinimg.com/originals/41/20/83/412083f76fe2e72b979902158f91d2bf.jpg" alt="image" class="hobby-card-img">
        <% end %>

        <% if hobby.user.photo %>
          <a href="<%= user_path(hobby.user) %>" class="hobby-card-avatar-link">
            <%= cl_image_tag(hobby.user.photo.path, height: 60, width: 60, class: "hobby-card-avatar") %>
          </a>
        <% elsif hobby.user.facebook_picture_url %>
          <a href="<%= user_path(hobby.user) %>", class="hobby-card-avatar-link">
            <img src="<%= hobby.user.facebook_picture_url %>", class="hobby-card-avatar">
          </a>
        <% end %>
        <div class="hobby-card-description">
          <p class="hobby-card-description-title"> <strong><%= hobby.user.first_name %> </strong>
          invites you to</p>
          <p class="hobby-card-description-hobby-name"><%= hobby.title %></p>
        </div>
        <div class="hobby-card-summary">
          <%= hobby.summary %>
        </div>
        <div class="hobby-card-icons">
          <%= image_tag('dislike', {class: "hobby-card-icon"}) %>
          <span class="hobby-card-icon-text"><%= hobby.get_likes.size %></span>
          <%= image_tag('man', {class: "hobby-card-icon"}) %>
          <span class="hobby-card-icon-text"><%= hobby.bookings.size %></span>
        </div>
        <%= link_to "", hobby_path(hobby), class: "hobby-card-link" %>
      </div>
      <% end %>
    </section>



    <section id="content2">
      <% @future_events.each do |event| %>
        <div class="dashboard-host-future-booking-card">
          <div class="dashboard-host-future-booking-card-title-div">
            <span class="dashboard-host-future-booking-card-title"><%= event.hobby.title %></span>
          </div>

          <div class="dashboard-host-future-booking-card-date">
            <div>Date:</div>
            <div><%= event.start_time.strftime("%b %d - %H:%M") %></div>
            <div><%= event.end_time.strftime("%b %d - %H:%M")  %></div>
          </div>

          <div class="dashboard-host-future-booking-card-date">
            <div>Price:</div>
            <div><%= event.price %>RMB</div>
            <div style="width:172px;"></div>
          </div>

          <div class="dashboard-host-future-booking-card-date">
            <div>Attendees:</div>
            <div><%= event.bookings.size %></div>
            <div style="width:282px;"></div>
          </div>

          <div class="event-card-icons">
            <%= image_tag('dislike', {class: "hobby-card-icon"}) %>
            <%= event.hobby.get_likes.size %>
            <%= image_tag('man', {class: "hobby-card-icon"}) %>
            <%= event.hobby.bookings.size %>
          </div>

          <div class="dashboard-host-future-booking-card-icons">
            <p><a href="<%= hobby_event_path(event.hobby, event) %>"><%= image_tag("more-details", class: "dashboard-host-future-booking-card-icon") %></a></p>
            <%= link_to image_tag("eraser", class: "dashboard-host-future-booking-card-icon", style: "margin-top: -5px;"), edit_hobby_event_path(event.hobby, event) %>
          </div>
        </div>
      <% end %>
    </section>

    <section id="content3">
      <% @past_events.each do |event| %>
        <div class="dashboard-host-future-booking-card">
          <div class="dashboard-host-future-booking-card-title-div">
            <span class="dashboard-host-future-booking-card-title"><%= event.hobby.title %></span>
          </div>

          <div class="dashboard-host-future-booking-card-date">
            <div>Date:</div>
            <div><%= event.start_time.strftime("%b %d - %H:%M") %></div>
            <div><%= event.end_time.strftime("%b %d - %H:%M")  %></div>
          </div>

          <div class="dashboard-host-future-booking-card-date">
            <div>Price:</div>
            <div><%= event.price %>RMB</div>
            <div style="width:172px;"></div>
          </div>

          <div class="dashboard-host-future-booking-card-date">
            <div>Attendees:</div>
            <div><%= event.bookings.size %></div>
            <div style="width:282px;"></div>
          </div>

          <div class="event-card-icons">
            <%= image_tag('dislike', {class: "hobby-card-icon"}) %>
            <%= event.hobby.get_likes.size %>
            <%= image_tag('man', {class: "hobby-card-icon"}) %>
            <%= event.hobby.bookings.size %>
          </div>

          <div class="dashboard-host-future-booking-card-icons">
            <p style="margin-top: 30px;"><a href="<%= hobby_event_path(event.hobby, event) %>" ><%= image_tag("more-details", class: "dashboard-host-future-booking-card-icon") %></a></p>
          </div>
        </div>
      <% end %>
    </section>
  </main>
</div>

