<h1 style="color: #2f4a71">Profile</h1>
<% if @current_user[:facebook_picture_url] %>
  <img class="guest-dashboard-profile-img" src="<%= @current_user[:facebook_picture_url] %>">
<% elsif @current_user.photo %>
  <img class="guest-dashboard-profile-img" src="<%= cl_image_path(@current_user.photo.path, height: 300, width: 400, crop: :fill) %>">
<% end %>
<div style="margin-top: 20px; color: black">
  <p>Name: <%= @current_user.first_name %> <%= @current_user.last_name %></p>
  <p>Email: <%= @current_user.email %></p>
</div>
