<div class="past-events">
  <h1>Past events:</h1>

  <% @past_events.each do |event| %>
    <p> Hobby: <%= event.hobby.title %> </p>
    <p> Price: <%= event.price %> </p>
    <p> Start time: <%= event.start_time %> </p>
    <p> End time: <%= event.end_time %> </p>

  <% end %>


</div>


<div class="future-events">
<h1>Future events:</h1>
  <% @future_events.each do |event| %>
    <p> Hobby: <%= event.hobby.title %> </p>
    <p> Price: <%= event.price %> </p>
    <p> Start time: <%= event.start_time %> </p>
    <p> End time: <%= event.end_time %> </p>

  <% end %>
</div>


<div class="notifications">
  <h1>Notifications</h1>
  <% @notifications.each do |notification| %>
    <div>
      Title: <%= notification.event.hobby.title %>
      Start time: <%= notification.event.start_time %>
      <%= simple_form_for([notification.event.hobby, notification.event, notification]) do |f| %>
        <%= f.input :review, collection: (1..5) %>
        <%= f.input :comment %>
        <%= f.submit "Review" %>
      <% end %>
    </div>

  <% end %>
</div>
