<h1 class="text-center">Dashboard host</h1>

 <%= link_to("New hobby", new_hobby_path, class: "btn btn-primary card-link") %>

<div class="container">
  <main class="host-dashboard padded">

    <input class="no-display" id="tab1" type="radio" name="tabs" checked>
    <label for="tab1">Hobbies</label>

    <input class="no-display" id="tab2" type="radio" name="tabs">
    <label for="tab2">Events</label>

    <input class="no-display" id="tab3" type="radio" name="tabs">
    <label for="tab3">Pending</label>

    <input class="no-display" id="tab4" type="radio" name="tabs">
    <label for="tab4">Frank lives here</label>

    <section id="content1">


      <div class="container">
      <% if @events.present? %>
        <div >
        <div class="container">
          <div class="row">
            <% @hobbies.each do |hobby| %>
            <div class="card col-xs-12 col-sm-6 col-md-4">
              <div class="card__image border-tlr-radius">
                <img src="https://s-media-cache-ak0.pinimg.com/originals/41/20/83/412083f76fe2e72b979902158f91d2bf.jpg" alt="image" class="border-tlr-radius">
              </div>

              <div class="card__content card__padding">
                <div >
                  <div class="card__meta">
                    <a href="#"><%= hobby.title %></a>
                    <% if hobby.average_score != 0.0 %>
                      <p>
                        <%= hobby.average_score %>
                      </p>
                    <% else %>
                      <p>No reviews yet</p>
                    <% end %>
                  </div>

                   <%= link_to("Hobby details", hobby_path(hobby), class: "btn btn-primary card-link") %>
                   <%= link_to("Add an event", new_hobby_event_path(hobby), class: "btn btn-primary card-link") %>

                  <article class="card__article">
                    <h2><a href="#"><%= hobby.summary %></a></h2>
                    <p><%= hobby.description %></p>
                  </article>
                </div>
              </div>


       <!--        <div class="card__action">
                <div class="card__author">
                  <img src="http://lorempixel.com/40/40/sports/" alt="user">
                  <div class="card__author-content">
                    Hosted by <a href="#">Max</a>
                  </div>
                </div>
              </div> -->
            </div>
            <% end %>
          </div>
          </div>



          <% else %>
            <div class="container text-center" style="margin-top: 100px">
             <h3 id="empty">No hobbies created yet</h3>
            </div>
          <% end %>
        </div>

    </section>

    <section id="content2">

      <div class="container">
      <% if @events.present? %>


        <div class="container">
          <div class="row">
            <% @events.each do |event| %>
            <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2))">
              <div class="card-description">
                <h2><%= event.price %></h2>
                <h3><%= event.start_time %></h3>
                <p><%= event.end_time %></p>
                <p><%= event.min_pax %></p>
                <p><%= event.max_pax %></p>

              </div>

              <%= link_to("Update event", edit_hobby_event_path(event.hobby, event), class: "btn btn-primary card-link") %>
              <%= link_to "Delete event", hobby_event_path(event.hobby, event), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-warning card-link" %>
              <%= link_to("Event details", hobby_event_path(event.hobby, event), class: "btn btn-info card-link") %>
            </div>
            </div>
            <% end %>
          </div>
        </div>

          <% else %>
            <div class="container text-center" style="margin-top: 100px">
             <h3 id="empty">No events scheduled yet</h3>
            </div>
          <% end %>
      </div>

    </section>

    <section id="content3">


      <div class="container">
      <% if @events.present? %>

        <div class="container">
          <div class="row">
            <% @hobbies.each do |hobby| %>
            <div class="col-xs-12 col-sm-6 col-md-4">

              <div class="card-main card--big">
                <div class="card__image__main" style="background-image: url()"></div>
                <h2 class="card__title"><%= hobby.title %></h2><span class="card__subtitle"><%= hobby.description %></span>
                <p class="card__text">Located two hours south of Sydney in the Southern Highland of New South Wales...</p>
                <div class="card__action-bar">
                  <button class="card__button">LEARN MORE</button>
                  <button class="card__button">BOOK</button>
                </div>
              </div>



                <div class="card__meta">
                  <a href="#"><%= hobby.title %></a>
                  <% if hobby.average_score != 0.0 %>
                    <p>
                      <%= hobby.average_score %>
                    </p>
                  <% else %>
                    <p>No reviews yet</p>
                  <% end %>
                </div>


            </div>
            <% end %>
            <% else %>
              <div class="container text-center" style="margin-top: 100px">
               <h3 id="empty">No hobbies created yet</h3>
              </div>
            <% end %>
          </div>
          </div>

        </div>





    </section>

    <section id="content4">

        <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>


    </section>

  </main>

</div>

