<h1 class="text-center" style="margin-top: 70px"></h1>

<div class="container">
  <main class="host-dashboard padded">

    <input class="no-display" id="tab1" type="radio" name="tabs" checked>
    <label for="tab1">Hobbies</label>

    <input class="no-display" id="tab2" type="radio" name="tabs">
    <label for="tab2">Future Events</label>

    <input class="no-display" id="tab3" type="radio" name="tabs">
    <label for="tab3">Past Events</label>

    <input class="no-display" id="tab4" type="radio" name="tabs">
    <label for="tab4">More tabs?</label>

    <section id="content1">

    <div class="">
      <div class="container" style="margin-left: 15px">
        <%= link_to("Create a new hobby", new_hobby_path, class: "btn btn-primary card-link") %>
      </div>
      <% if @hobbies.present? %>

      <% @hobbies.each do |hobby| %>
        <div class="hobby-card col-xs-12 col-sm-6 col-md-4">
          <div class="hobby-card-rating">
            <span class="hobby-card-rating-score"><%= hobby.average_score %></span>
            <div class="hobby-card-stars">
              <% count = hobby.average_score %>
              <% 5.times do %>
                <% if count < 1 && count > 0 %>
                  <span> <%= image_tag('star-half', { class: "hobby-card-star" }) %> </span>
                <% elsif count >= 1 %>
                  <span> <%= image_tag('star-full', { class: "hobby-card-star" }) %> </span>
                <% elsif count <= 0 %>
                  <span> <%= image_tag('star-empty', { class: "hobby-card-star" }) %> </span>
                <% end %>
              <% count = count - 1 %>
            <% end %>
            <span class="hobby-card-stars-count">(<%= hobby.review_count %> reviews)</span>
          </div>
        </div>
        <% if hobby.photos.first %>
          <img src="<%= cl_image_path hobby.photos.first.path, height: 300, width: 400, crop: :fill%>", class='hobby-card-img' >
        <% else %>
          <img src="https://s-media-cache-ak0.pinimg.com/originals/41/20/83/412083f76fe2e72b979902158f91d2bf.jpg" alt="image" class="hobby-card-img">
        <% end %>

        <% if hobby.user.photo %>
          <a href="<%= user_path(hobby.user) %>" class="hobby-card-avatar-link">
            <%= cl_image_tag(hobby.user.photo.path, height: 100, width: 100, class: "hobby-card-avatar") %>
          </a>
        <% elsif hobby.user.facebook_picture_url %>
          <a href="<%= user_path(hobby.user) %>", class="hobby-card-avatar-link">
            <img src="<%= hobby.user.facebook_picture_url %>", class="hobby-card-avatar">
          </a>
        <% end %>
        <div class="hobby-card-description">
          <p class="hobby-card-description-title"> <strong><%= hobby.user.first_name %> </strong>
          invites you to</p>
          <p class="hobby-card-description-hobby-name"><%= hobby.title %></p>
        </div>
        <div class="hobby-card-summary">
          <%= hobby.summary %>
        </div>
        <div class="hobby-card-icons">
          <%= image_tag('dislike', {class: "hobby-card-icon"}) %>
          <%= hobby.get_likes.size %>
          <%= image_tag('man', {class: "hobby-card-icon"}) %>
          <%= hobby.bookings.size %>
        </div>
        <%= link_to "", hobby_path(hobby), class: "hobby-card-link" %>
      </div>
      <% end %>
    </div>

    <% else %>
      <div class="container text-center" style="margin-top: 100px">
       <h3 id="empty">No hobbies created yet</h3>
      </div>
    <% end %>
    </section>


    <section id="content2">
      <div class="container">
      <% if @events.present? %>

        <div class="container">
          <div class="row">
            <% @events.each do |event| %>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2))">
                <div class="card-description ">
                  <h2><%= event.price %></h2>
                  <h3><%= event.start_time %></h3>
                  <p><%= event.end_time %></p>
                  <p><%= event.min_pax %></p>
                  <p><%= event.max_pax %></p>
                </div>

                <%= link_to("Update event", edit_hobby_event_path(event.hobby, event), class: "btn btn-primary card-link") %>
                <%= link_to "Delete event", hobby_event_path(event.hobby, event), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-warning card-link" %>
                <%= link_to("Event details", hobby_event_path(event.hobby, event), class: "btn btn-info card-link") %>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      <% else %>
      <div class="container text-center" style="margin-top: 100px">
       <h3 id="empty">No events scheduled yet</h3>
      </div>
    <% end %>
    </div>
  </section>


    <section id="content3">


    </section>


    <section id="content4">

    </section>

  </main>
</div>

