<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= render 'pages/search_form' %>

</div>
  <%= link_to("Host Dashboard", dashboard_host_path, class: "btn btn-primary card-link") %>
</div>

</div>
  <%= link_to("Guest Dashboard", dashboard_guest_path, class: "btn btn-primary card-link") %>
</div>


</div>
  <%= link_to("Hobbies index", hobbies_path, class: "btn btn-primary card-link") %>
</div>



<div>
  <%= link_to "Sign_out", destroy_user_session_path, method: "delete" %>
</div>

</div>
  <%= link_to("Profile", users_show_path, class: "btn btn-primary card-link") %>
</div>



<!-- Recommended hobbies according to the user's favourite categories -->
<% if current_user %>
  <div>
    <h1>Recommended Hobbies:</h1>
    <% @selected_hobbies.each do |hobby| %>
      <div class="card col-xs-12 col-sm-6 col-md-4">
      <div class="card__image border-tlr-radius">
        <% if hobby.photos.first %>
          <img src="<%= cl_image_path hobby.photos.first.path, height: 300, width: 400, crop: :fill, class: 'border-tlr-radius' %>">
        <% else %>
          <img src="https://s-media-cache-ak0.pinimg.com/originals/41/20/83/412083f76fe2e72b979902158f91d2bf.jpg" alt="image" class="border-tlr-radius">
        <% end %>


      </div>

      <div class="card__content card__padding">
        <div >
          <div class="card__meta">
            <a href="#"><%= hobby.title %></a>
            <% if hobby.average_score != 0.0 %>
              <p> <%= hobby.average_score %> </p>
            <% else %>
              <p> No reviews yet </p>
            <% end %>
          </div>


          <article class="card__article">
            <h2><a href="#"><%= hobby.summary %></a></h2>
            <p> <%= hobby.description %> </p>
          </article>
           <%= link_to("Hobby details", hobby_path(hobby), class: "btn btn-primary card-link") %>
           <%= link_to("Add an event", new_hobby_event_path(hobby), class: "btn btn-primary card-link") %>
        </div>
      </div>
    </div>
    <% end %>
  </div
<% end %>

