

<div class="banner padded text-center" >
  <h1>aibee</h1>
  <br>
  <h3>Share your passion</h3>
  <%= render 'pages/search_form' %>
</div>

<div class="text-center" style="margin-top: 120px;">
  <h2>Maybe meet the mother of your children!</h1>
</div>

<div class="container padded text-center home-flexbox">
  <div class="row">


    <div class="h-icon col-xs-12 col-md-4">
      <%= image_tag "brush128" %>
      <p>Share you passion with others</p>
    </div>

    <div class="h-icon col-xs-12 col-md-4">
      <%= image_tag "comrades128" %>
      <p>Meet fellow comrades</p>
    </div>

    <div class="h-icon col-xs-12 col-md-4">
     <%= image_tag "wind128" %>
     <p>Go to the Netherlands</p>
    </div>
    </div>
</div>



<div class="container">
  <div class="scroller scroller-left"><i class="glyphicon glyphicon-chevron-left"></i></div>
  <div class="scroller scroller-right"><i class="glyphicon glyphicon-chevron-right"></i></div>
  <div class="wrapper-scroll">
    <ul class="nav nav-tabs list" id="myTab">
      <li class="active"><a href="#home">Cooking</a></li>
      <li><a href="#profile">Massage</a></li>
      <li><a href="#messages">Woodworking</a></li>
      <li><a href="#settings">Hotpot</a></li>
      <li><a href="#">Iconography</a></li>
      <li><a href="#">Boom Boom Bagels</a></li>
      <li><a href="#">Beer Brewing</a></li>
      <li><a href="#">Tab7</a></li>
      <li><a href="#">Tab8</a></li>
      <li><a href="#">Tab9</a></li>
      <li><a href="#">Tab10</a></li>
      <li><a href="#">Tab11</a></li>
      <li><a href="#">Tab11</a></li>
      <li><a href="#">Tab11</a></li>
      <li><a href="#">Tab11</a></li>
      <li><a href="#">Tab11</a></li>
      <li><a href="#">Tab11</a></li>
      <li><a href="#">Tab11</a></li>
      <li><a href="#">Tab11</a></li>
      <li><a href="#">Tab11</a></li>
      <li><a href="#">Tab11</a></li>
      <li><a href="#">Tab11</a></li>

  </ul>
  </div>
</div>










<div class="container padded">

<!-- Recommended hobbies according to the user's favourite categories -->
<% if current_user %>
  <div>
    <h1>Recommended Hobbies:</h1>
    <% @selected_hobbies.each do |hobby| %>
      <div class="card col-xs-12 col-sm-6 col-md-4">
      <div class="card__image border-tlr-radius">
        <% if hobby.photos.first %>
          <img src="<%= cl_image_path hobby.photos.first.path, height: 300, width: 400, crop: :fill, class: 'border-tlr-radius' %>">
        <% else %>
          <img src="https://s-media-cache-ak0.pinimg.com/originals/41/20/83/412083f76fe2e72b979902158f91d2bf.jpg" alt="image" class="border-tlr-radius">
        <% end %>


      </div>

      <div class="card__content card__padding">
        <div >
          <div class="card__meta">
            <a href="#"><%= hobby.title %></a>
            <% if hobby.average_score != 0.0 %>
              <p> <%= hobby.average_score %> </p>
            <% else %>
              <p> No reviews yet </p>
            <% end %>
          </div>


          <article class="card__article">
            <h2><a href="#"><%= hobby.summary %></a></h2>
            <p> <%= hobby.description %> </p>
          </article>
           <%= link_to("Hobby details", hobby_path(hobby), class: "btn btn-primary card-link") %>
           <%= link_to("Add an event", new_hobby_event_path(hobby), class: "btn btn-primary card-link") %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
<% end %>

</div>




