<!-- banner home -->
<div class="banner padded text-center" >
  <h1 id="main-title"> <strong>Share</strong>  your passion!</h1>
  <br>
  <h3 id="slogan">Discover a new hobby through fun events</h3>
  <div style="margin-top: 123px;">
    <%= render 'pages/search_form' %>
  </div>
</div>

<!-- carousel -->
<div class="container">
  <div class="text-center" style="margin-top: 180px; margin-bottom: 30px">
    <div class="owl-carousel owl-theme">
        <% @categories.each do |category| %>
          <%= link_to category_path(category) do %>
          <div class="image-carousel owl-lazy-iamge">
            <img class="owl-image-c" src="<%= image_path(category.photo_url) %>">
            <!-- <div class="overlay"></div> -->
            <p class="p-owl"><%= category.name %></p>
          </div>
          <% end %>
        <% end %>
    </div>
  </div>
</div>
<!-- hobby reccomendations, hobby card -->
  <div class="row text-center hobby-cards-container" style="margin-bottom: 50px">
    <h2 style="margin-bottom: 50px;">Recommended Hobbies</h2>
    <% @selected_hobbies.each do |hobby| %>
      <div class="hobby-card col-xs-12 col-sm-6 col-md-6">
        <div class="hobby-card-rating">
          <span class="hobby-card-rating-score"><%= hobby.average_score %></span>
          <div class="hobby-card-stars">
            <% count = hobby.average_score %>
            <% 5.times do %>
              <% if count < 1 && count > 0 %>
                <span> <%= image_tag('star-half', { class: "hobby-card-star" }) %> </span>
              <% elsif count >= 1 %>
                <span> <%= image_tag('star-full', { class: "hobby-card-star" }) %> </span>
              <% elsif count <= 0 %>
                <span> <%= image_tag('star-empty', { class: "hobby-card-star" }) %> </span>
              <% end %>
            <% count = count - 1 %>
          <% end %>
          <span class="hobby-card-stars-count">(<%= hobby.review_count %> reviews)</span>
        </div>
      </div>
      <% if hobby.photos.first %>
        <img src="<%= cl_image_path hobby.photos.first.path, height: 180, width: 350, crop: :fill%>", class='hobby-card-img' >
      <% else %>
        <img src="https://s-media-cache-ak0.pinimg.com/originals/41/20/83/412083f76fe2e72b979902158f91d2bf.jpg" alt="image" class="hobby-card-img">
      <% end %>
      <% if hobby.user.photo %>
        <a href="<%= user_path(hobby.user) %>" class="hobby-card-avatar-link">
          <%= cl_image_tag(hobby.user.photo.path, height: 60, width: 60, class: "hobby-card-avatar") %>
        </a>
      <% elsif hobby.user.facebook_picture_url %>
        <a href="<%= user_path(hobby.user) %>", class="hobby-card-avatar-link">
          <img src="<%= hobby.user.facebook_picture_url %>", class="hobby-card-avatar">
        </a>
      <% end %>
      <div class="hobby-card-description text-left">
        <p id="hobby-card-description-hobby-name"><%= hobby.title %></p>
        <p id="hobby-card-summary"><%= hobby.summary %></p>
        <p id="hobby-card-summary">
        <%= hobby.summary[0..30] %>
        <% if hobby.summary.length > 30 %>
          ...
        <% end %>
        </p>
        <p id="hobby-card-category">
          <% string = "" %>
          <% hobby.categories.each { |category| string += "#{category.name} "}%>
          belongs to: <%= string%>
        </p>
      </div>
      <div class="hobby-card-icons">
        <%= image_tag('dislike', {class: "hobby-card-icon"}) %>
        <span class="hobby-card-icon-text"><%= hobby.get_likes.size %></span>
        <%= image_tag('man', {class: "hobby-card-icon"}) %>
        <span class="hobby-card-icon-text"><%= hobby.bookings.size %></span>
      </div>
      <%= link_to "", hobby_path(hobby), class: "hobby-card-link" %>
    </div>
    <% end %>
  </div>

<!-- top hobbies  -->
<div class="container top-hobbies" style="margin-top: 0px; margin-bottom: 100px;">
  <h2 class="text-center" style= "margin-bottom: 50px">Our top Hobbies</h2>
  <div class="text-center" style="float: left">
    <div class="row">
      <div class="row top-hobby-row">
        <div class="h-icon col-xs-12 col-md-4">
          <div class="home-wrapper">
            <div class="home-icon">
              <% if current_user && current_user[:facebook_picture_url] %>
                <img class="guest-dashboard-profile-img" src="<%= current_user[:facebook_picture_url] %>">
              <% end %>
            </div>
            <div class="home-content">
              <p><span style="font-weight: bold;">Bob</span><br> This is an example application's description text.</p>
            </div>
          </div>
        </div>
        <div class="h-icon col-xs-12 col-md-4">
          <div class="home-wrapper">
            <div class="home-icon">
            <% if current_user && current_user[:facebook_picture_url] %>
              <img class="guest-dashboard-profile-img" src="<%= current_user[:facebook_picture_url] %>">
              <% end %>
            </div>
            <div class="home-content">
              <p><span style="font-weight: bold;">Frank</span><br> This is an example application's description text.</p>
            </div>
          </div>
        </div>
        <div class="h-icon col-xs-12 col-md-4">
          <div class="home-wrapper">
            <div class="home-icon">
            <% if current_user && current_user[:facebook_picture_url] %>
              <img class="guest-dashboard-profile-img" src="<%= current_user[:facebook_picture_url] %>">
            <% end %>
            </div>
            <div class="home-content">
              <p><span style="font-weight: bold;">Jenny</span><br> This is an example application's description text.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- about icons -->
<div class="text-center aibee-features" style="margin-bottom: 0px;">
  <h2>Here's how it works!</h2>
</div>
<div class="container padded text-center home-flexbox">
  <div class="row">
    <div class="h-icon col-xs-12 col-md-4">
      <%= image_tag "brush128" %>
      <p>Tell us your passion</p>
    </div>
    <div class="h-icon col-xs-12 col-md-4">
      <%= image_tag "comrades128" %>
      <p>Create an event</p>
    </div>
    <div class="h-icon col-xs-12 col-md-4">
     <%= image_tag "wind128" %>
     <p>Inspire others</p>
    </div>
  </div>
</div>
<!-- create your first hobby -->
<div class="wrapper share-hobby-call-to-action">
  <div class="container text-center share-hobby">
      <h3><strong>ANYONE</strong> CAN SHARE PASSION THROUGH AIBEE</h3>
      <h5>Through aibee, hosts have have shared <%= Hobby.all.size %> hobbies!</h5>
      <div>
        <a class="btn btn-green-lg-padded btn-green-lg text-center" href="<%= new_hobby_path%>">Create your hobby!</a>
      </div>
  </div>
</div>






