<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= render 'pages/search_form' %>

</div>
  <%= link_to("Host Dashboard", dashboard_host_path, class: "btn btn-primary card-link") %>
</div>

</div>
  <%= link_to("Guest Dashboard", dashboard_guest_path, class: "btn btn-primary card-link") %>
</div>


</div>
  <%= link_to("Hobbies index", hobbies_path, class: "btn btn-primary card-link") %>
</div>



<div>
  <%= link_to "Sign_out", destroy_user_session_path, method: "delete" %>
</div>

</div>
  <%= link_to("Profile", users_show_path, class: "btn btn-primary card-link") %>
</div>



<!-- Recommended hobbies according to the user's favourite categories -->
<div>
  <h1>Recommended Hobbies:</h1>
  <% @selected_hobbies.each do |hobby| %>
    <p><%= hobby.title %>  </p>
  <% end %>
</div>


