<div class="container padded">
  <br>
  <%= simple_form_for(@hobby) do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :summary %>
    <%= f.input :address %>

    <%= f.input :categories, :collection => @categories, input_html: {multiple: true}, class: "form-control" %>

    <%= f.input :photos, as: :attachinary %>
    <%= f.submit %>
  <% end %>
  <br>
</div>
