<div style="color: #2F4A71">
  <h1 class="text-center hobby-show-margin-bottom-40"><span class="hobby-show-title"><%= @hobby.title%></span>

    <!-- Like functionality with heart icon -->
    <% if @current_user && @current_user.voted_for?(@hobby) %>
    <%= link_to image_tag('dislike', {class: "hobby-show-img-like"}), hobby_like_path(@hobby), method: "patch" %> <span style="font-size: 30px;">(<%= @hobby.get_likes.size %>)</span>
    <% else %>
    <%= link_to image_tag('like', {class: "hobby-show-img-like"}), hobby_like_path(@hobby), method: "patch" %> <span style="font-size: 30px;">(<%= @hobby.get_likes.size %>)</span>
    <% end %>
    <!-- End of like functionality  -->
  </h1>
</div>



<!-- carousel -->
<div class="owl-carousel owl-theme">
  <% @hobby.photos.each do |photo| %>
  <img class="owl-lazy owl-lazy-img" data-src="<%= cl_image_path(photo.path) %>" style="height: 260px;">
  <% end %>
</div>
<!-- end of carousel -->





<!-- star calculation -->
<!-- .star is in _hobby_show.scss -->
<div class="text-center" style="color: #2F4A71">
  <% count = @hobby.average_score %>
  <% 5.times do %>
  <% if count < 1 && count > 0 %>
  <span> <%= image_tag('star-half', { class: "star" }) %> </span>
  <% elsif count >= 1 %>
  <span> <%= image_tag('star-full', { class: "star" }) %> </span>
  <% elsif count <= 0 %>
  <span> <%= image_tag('star-empty', { class: "star" }) %> </span>
  <% end %>
  <% count = count - 1 %>
  <% end %>
  <span style="font-size: 30px; position: relative; top: 7px;">(<%= @hobby.average_score %>)</span>
  <p style="font-size: 20px; position: relative; right: 15px;">(<%= @hobby.review_count %> reviews)</p>
</div>



<div class="container" style="color: #2F4A71">
  <!-- hobby description -->
  <h2><span class="orange-underline">Summary:</span></h2>
  <p><%= @hobby.summary %></p>
  <br><br>

  <h2><span class="orange-underline">Description:</span></h2>
  <p><%= @hobby.description %></p>
  <br><br>

  <h2><span class="orange-underline">Categories:</span></h2>

  <p><%= @categories[0..-3] %></p>
  <br><br>

  <h2><span class="orange-underline">Address:</span></h2>
  <p><%= @hobby.address %></p>

  <% if @hobby.user_id == current_user.id %>
  <!-- action links if host-->


  <!-- hobby description -->
  <div>
    <div class="container text-center">
      <a class="btn btn-primary" href="<%= edit_hobby_path%>">Update</a>
      <a class="btn btn-primary" href="<%= new_hobby_event_path(@hobby)%>">Add an event</a>
    </div>
    <% elsif @events.present? %>
    <!-- leads to event booking compare events index only visible as guest-->
    <div class="wrapper_form text-center">
      <%= link_to("Join one of #{@hobby.user.first_name}'s events", hobby_events_path(@hobby), class: "btn btn-primary card-link") %>
    </div>
    <% end %>

    <h2><span class="orange-underline">Comments:</span></h2>
    <br>
    <div class="hobby-show-comments">
      <% @bookings.each do |booking| %>
      <p>--<%= booking.comment %></p>
      <% end %>
    </div>

  </div>

</div>



<!-- list of events -->
<div class="container">
  <div class="row">
    <% if @events.present? && @current_user.id == Hobby.find(params[:id]).user_id %>
    <div class="container text-center padded">
      <% @events.each do |event| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2))">
          <div class="card-description">
            <h2><%= event.price %></h2>
            <h3><%= event.start_time %></h3>
            <p><%= event.end_time %></p>
            <p><%= event.min_pax %></p>
            <p><%= event.max_pax %></p>
            <!--   <#%= link_to("#{event.start_time}  - #{event.end_time}", hobby_events_path(@hobby), class: "card-link") %> -->
            <%= link_to("Event details",hobby_event_path(@hobby, event), class: "btn btn-primary card-link") %>
            <%= link_to("Edit events",hobby_events_path(@hobby, @events), class: "btn btn-primary card-link") %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <% elsif !@events.present? && @current_user.id == Hobby.find(params[:id]).user_id %>
    <!-- remark that no events are created -->
      <div class="container text-center" style="margin-top: 100px">
        <h3 id="empty">No events scheduled yet</h3>
      </div>
    <% elsif @current_user.id != Hobby.find(params[:id]).user_id%>
    <% end %>
  </div>
</div>
<!-- event map -->

<div class="padded text-center">
  <div id="map" style="width: 80%; height: 400px; margin: 0 auto;"></div>
  <% content_for(:after_js) do %>
  <%= javascript_tag do %>
  $(document).ready(function() {
  var handler = Gmaps.build('Google');
  handler.buildMap({ internal: { id: 'map' } }, function() {
  markers = handler.addMarkers(<%= raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  if (markers.length == 0) {
  handler.getMap().setZoom(2);
} else if (markers.length == 1) {
handler.getMap().setZoom(14);
}
});
});
<% end %>
<% end %>
</div>






















