<!-- action links -->
<div class="container">
  <div class="btn-group" role="group" aria-label="...">
    <a type="button" class="btn btn-default" href="<%= edit_hobby_path %>">Update</a>
    <a type="button" class="btn btn-default" href="<%= new_hobby_event_path(@hobby)  %>">Add an event</a>
    <%= link_to "Delete Hobby", hobby_path(@hobby), method: :delete, data: { confirm: "Are you sure?" }, type: "button", class: "btn btn-default" %>
  </div>
</div>
<!-- hobby description -->
<div class="container padded">
  <h2><%= @hobby.description %></h2>
  <h2><%= @hobby.address %></h2>
</div>
<!-- leads to event booking compare events index-->
<div class="wrapper_form container">
  <%= link_to("Join one of #{@hobby.user.first_name}'s events", hobby_events_path(@hobby), class: "btn btn-primary card-link") %>
</div>
<!-- list of events -->
<div class="container">
  <div class="row text-center">
    <h3>These are the next events for <%= @hobby.title %></h2>
    <% if @events.present? %>
    <div class="container text-center padded">


          <% @events.each do |event| %>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2))">
              <div class="card-description">
                <h2><%= event.price %></h2>
                <h3><%= event.start_time %></h3>
                <p><%= event.end_time %></p>
                <p><%= event.min_pax %></p>
                <p><%= event.max_pax %></p>

                <!--   <#%= link_to("#{event.start_time}  - #{event.end_time}", hobby_events_path(@hobby), class: "card-link") %> -->
                <%= link_to("Event details",hobby_event_path(@hobby, event), class: "btn btn-primary card-link") %>

                <%= link_to("Edit events",hobby_events_path(@hobby, @events), class: "btn btn-primary card-link") %>
              </div>
            </div>
          </div>
          <% end %>

    </div>
    <% else %>
      <!-- remark that no events are created -->
      <div class="container text-center" style="margin-top: 100px">
       <h3 id="empty">No events scheduled yet</h3>
      </div>
    <% end %>
  </div>
</div>



<!-- event map -->
<div id="map" style="width: 100%; height: 600px;"></div>
<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>

