<a href="<%= edit_hobby_path  %>">Update</a>
<a href="<%= new_hobby_event_path(@hobby)  %>">Add an event</a>

<div class="container">

  <!-- <#%= render 'pages/search_form'%> -->

  <% if @events.present? %>
    <div class="container text-center padded">
      <h2>Your new event!</h2>
    </div>

    <div class="container">
      <div class="row">
        <% @events.each do |event| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2))">
          <div class="card-description">
            <h2><%= event.price %></h2>
            <h3><%= event.start_time %></h3>
            <p><%= event.end_time %></p>
            <p><%= event.min_pax %></p>
            <p><%= event.max_pax %></p>

          </div>
          <%= link_to("", event_path(event), class: "card-link") %>
        </div>
        </div>
        <% end %>
      </div>
    </div>

  <% else %>
    <div class="container text-center" style="margin-top: 100px">
     <h3 id="empty">No events scheduled yet</h3>
    </div>
  <% end %>

</div>
