<!-- action links -->
<a href="<%= edit_hobby_path  %>">Update</a>
<a href="<%= new_hobby_event_path(@hobby)  %>">Add an event</a>
<%= link_to "Delete Hobby", hobby_path(@hobby), method: :delete, data: { confirm: "Are you sure?" } %>
<!-- hobby description -->
<div class="container">
  <h2><%= @hobby.description %></h2>
  <h2><%= @hobby.address %></h2>
</div>
<!-- leads to event booking compare events index-->
<div class="wrapper_form container">
  <%= link_to("Join one of #{@hobby.user.first_name}'s events", hobby_events_path(@hobby), class: "btn btn-primary card-link") %>
</div>
<!-- list of events -->
<div class="container">
  <div class="row">
    <% if @events.present? %>
    <div class="container text-center padded">
      These are the next events for <%= @hobby.title %>
      <ul>
        <li>

          <% @events.each do |event| %>
              <%= link_to("#{event.start_time}  - #{event.end_time}", hobby_events_path(@hobby), class: "card-link") %>
          <% end %>
        </li>
      </ul>
    </div>
    <% else %>
      <!-- remark that no events are created -->
      <div class="container text-center" style="margin-top: 100px">
       <h3 id="empty">No events scheduled yet</h3>
      </div>
    <% end %>
  </div>
</div>


